.hotel-vouchers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #073e68;
}

.content {
    min-height: 100px;
    height: max-content;
}
