.service-selection {
    --preview-width: 300px;
    position: relative;
    height: 620px;
    width: 1180px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--primary);
}

.title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-header-2);
    color: var(--header-color);
    box-shadow: rgba(3, 18, 26, 0.2) 0px 1px 2px;
    z-index: 200;
}

.content {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}

.preview {
    display: flex;
    border-right: 1px solid var(--primary-text-25);
}

.preview-main {
    width: var(--preview-width);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 20px;
    border-right: 1px solid var(--primary-text-25);
}

.empty-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: red;
}

.preview-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-header-3);
    color: var(--header-color);
    font-weight: bold;
}

.preview-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images {
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 15px;
    overflow: hidden;
}

.date-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;

    label {
        display: flex;
        align-items: center;
        opacity: 0.5;
        cursor: pointer;
    }

    label:hover {
        opacity: 1;
    }

    input {
        margin-right: 5px;
    }

    label:has(input:checked) {
        pointer-events: none;
        opacity: 1;
    }
}

.voucher {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    .input {
        flex: 1;
    }

    .btn {
        position: relative;
        height: 40px !important;
        width: max-content !important;
    }

    .btn::after {
        position: absolute;
        content: '';
        left: -6px;
        height: 30px;
        width: 1px;
        background-color: var(--primary-text-25);
    }
}

.add-btn {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

// Preview extra
.preview-extra {
    position: relative;
    width: 0px;
    transition: width 0.5s ease-in-out;
    background-color: var(--primary);

    &.show {
        width: var(--preview-width);
    }

    &.show .preview-extra-content {
        width: var(--preview-width);
        flex-direction: column;
        opacity: 1;
    }
}

.show-more-btn {
    position: absolute;
    top: 10px;
    right: 0;
    transform: translateX(50%);
    background-color: var(--header-color);
    z-index: 100;
}

.preview-extra-content {
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in-out, width 0.5s ease-in-out;
    overflow: hidden;
}

.preview-extra-part {
    position: relative;
    height: 50%;
    min-width: var(--preview-width);
    padding: 0 20px;
    padding-bottom: 20px;
}

.bill::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--primary-text-25);
}

.bill-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.bill-title {
    font-weight: bold;
}

.bill-price {
    font-weight: bold;
    color: rgb(249, 109, 1);
}

.bill-voucher {
    color: var(--secondary);
    text-align: right;
}

.bill-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.bill-original-price {
    font-size: calc(var(--font-size) - 2px);
    opacity: 0.5;
    text-decoration: line-through;
}

.price-item {
    align-items: flex-end;
}

.history {
    overflow: auto;
}

.history-table {
    border-collapse: collapse;
}

.history-table th,
.history-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.history-table th {
    text-align: center;
    background-color: #f2f2f2;
}

// Selection
.selection {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.type-selection {
    height: 50px;
    display: flex;
}

.type-item {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;

    .icon {
        width: 30px;
        justify-content: center;
        font-size: calc(var(--font-size) + 2px);
    }

    &:hover {
        color: var(--secondary-text);
        background-color: var(--secondary);
        opacity: 0.5;
    }

    &.active {
        background-color: var(--secondary);
        color: var(--secondary-text);
        pointer-events: none;
    }
}

.service-list {
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
    background-color: #ddd;
    transition: all 0.3s ease;
}

.service-item {
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    }
}
