.dropdown {
    --padding-left-dropdown: 10px;
    --padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    pointer-events: none;

    .required-note {
        color: red;
    }
}

.dropdown-container {
    position: relative;
    width: max-content;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 10px 10px 10px var(--padding);
    color: var(primary-text);
    border-radius: 999px;
    background-color: var(--primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.outline .dropdown-container {
    background-color: transparent;
    border: 1px solid var(--primary-text-25);
    box-shadow: unset;
}

.selected {
    user-select: none;
}

.options {
    position: absolute;
    top: 110%;
    max-height: 50vh;
    min-width: 100%;
    width: max-content;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: rgba(27, 27, 27, 0.2) 0px 1px 3px 0px, rgba(27, 27, 27, 0.1) 0px 4px 8px 0px;
    background-color: var(--primary);
    overflow: hidden;
    cursor: default;
    z-index: 3;
}

.dropdown.left .options {
    left: 0;
    right: unset;
}

.dropdown.right .options {
    right: 0;
    left: unset;
}

.options > * {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding-left-dropdown);
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-hover);
    }
}

.dropdown.active {
    border-color: var(--secondary);
}

.label {
    position: absolute;
    top: 50%;
    left: var(--padding);
    padding: 0 3px;
    transform: translateY(-50%);
    opacity: 0.5;
    color: var(--primary-text);
    transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

.label-active {
    top: 0;
    left: calc(var(--padding) + 5px);
    transform: translateY(-50%);
    font-size: calc(var(--font-size) - 2px);
    font-weight: bold;
    background-color: var(--primary);
    opacity: 1;
}
