.search-one-value {
    position: relative;

    &.click::after {
        content: '';
        position: absolute;
        right: 39px;
        top: 7px;
        bottom: 7px;
        width: 1px;
        background-color: var(--secondary);
    }
}

.search-input input {
    padding-right: 40px;
}

.clear-btn {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;

    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
        color: var(--secondary-text);
    }
}
