.hotel-rooms {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-header-2);
    font-weight: bold;
    color: var(--header-color);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
