.hotel-item-card {
    display: flex;
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(3, 18, 26, 0.2);
    cursor: pointer;

    &:hover {
        box-shadow: rgba(1, 148, 243, 0.5) 1px 1px 6px;
    }
}

.left {
    width: 35%;
}

.center {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    background-color: #f8f2fc;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.address {
    display: flex;
    gap: 5px;
}

.tag-container {
    height: 24px;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.icon {
    width: 24px;
    text-align: center;
}

.tag {
    flex-shrink: 0;
    padding: 5px 7px;
    border-radius: 999px;
    font-size: calc(var(--font-size) - 4px);
    font-weight: bold;
    color: #6300b3;
    background-color: #f1e0ff;
}

.des {
    padding-top: 5px;
    font-size: calc(var(--font-size) - 2px);
    opacity: 0.7;
    overflow: 'hidden';
    text-overflow: ellipsis;
}

.right {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
    box-shadow: -1px 0px 4px rgba(3, 18, 26, 0.1);
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #ff5e1f;
    margin-top: auto;
}

.city {
    padding: 5px 10px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: bold;
    color: #0ba02c;
    background-color: #e7f6ea;
}
